Repository ankur22/godzilla: changes, and which Codecov flags are due for each by the changed paths.
All: messenger-client-cli, messenger-server

.codecov.yml:

coverage:
    status:
        project:
            default:
                target: auto
                threshold: 2%
            messenger-client-cli:
                target: auto
                threshold: 1%
                flags:
                    - messenger-client-cli
            messenger-server:
                target: auto
                threshold: 1%
                flags:
                    - messenger-server
comment:
    layout: "reach, diff, flags, files"
    behavior: default
    require_changes: false  
    require_base: yes
    require_head: yes       
    branches: null
flags:
    messenger-client-cli:
        paths:
            - packages/messenger-client-cli/
        carryforward: false
    messenger-server:
        paths:
            - packages/messenger-server/
        carryforward: false

Create tmp dir for artifact during checkout
  .circleci/config.yml
Due: none

force server build
  packages/messenger-server/README.md
Due: messenger-server

Fix coverage step
  .circleci/config.yml
  .codecov.yml
  packages/messenger-server/README.md
Due: messenger-server

Fix coverage step
  .circleci/config.yml
  packages/messenger-server/README.md
Due: messenger-server

Fix coverage step
  .circleci/config.yml
Due: none

Fix coverage step
  packages/messenger-server/README.md
Due: messenger-server

Fix coverage step
  .circleci/config.yml
  packages/messenger-client-cli/README.md
  packages/messenger-server/README.md
Due: messenger-client-cli, messenger-server

Fix coverage step
  .codecov.yml
  packages/messenger-client-cli/README.md
  packages/messenger-server/README.md
Due: messenger-client-cli, messenger-server

Fix coverage step
  packages/messenger-client-cli/README.md
  packages/messenger-server/README.md
Due: messenger-client-cli, messenger-server

Fix coverage step
  packages/messenger-client-cli/README.md
Due: messenger-client-cli

Deploy helm3 (#6)
  .circleci/config.yml
  .codecov.yml
  README.md
  packages/messenger-client-cli/README.md
  packages/messenger-server/README.md
  packages/messenger-server/version.txt
Due: messenger-client-cli, messenger-server

Test the super linter by github
  .github/workflows/lint.yaml
Due: none

Add super linter badge
  README.md
Due: none

Add Codacy badge
  README.md
Due: none

GitHub lint (#8)
  .github/workflows/lint.yaml
  README.md
Due: none

Add example flux repo and helm charts to build own gitops infra
  infra/helm-operator-get-started/.gitignore
  infra/helm-operator-get-started/.travis.yml
  infra/helm-operator-get-started/LICENSE
  infra/helm-operator-get-started/README.md
  infra/helm-operator-get-started/charts/podinfo/.helmignore
  infra/helm-operator-get-started/charts/podinfo/Chart.yaml
  infra/helm-operator-get-started/charts/podinfo/README.md
  infra/helm-operator-get-started/charts/podinfo/templates/NOTES.txt
  infra/helm-operator-get-started/charts/podinfo/templates/_helpers.tpl
  infra/helm-operator-get-started/charts/podinfo/templates/deployment.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/hpa.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/ingress.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/linkerd.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/service.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/serviceaccount.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/tests/grpc.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/tests/jwt.yaml
  infra/helm-operator-get-started/charts/podinfo/templates/tests/service.yaml
  infra/helm-operator-get-started/charts/podinfo/values.yaml
  infra/helm-operator-get-started/diagrams/flux-flagger.png
  infra/helm-operator-get-started/diagrams/flux-helm-operator-registry.png
  infra/helm-operator-get-started/diagrams/flux-helm-operator-sealed-secrets.png
  infra/helm-operator-get-started/diagrams/flux-helm-operator.png
  infra/helm-operator-get-started/diagrams/flux-istio-operator.png
  infra/helm-operator-get-started/diagrams/flux-multi-tenancy.png
  infra/helm-operator-get-started/diagrams/flux-open-policy-agent-gatekeeper.png
  infra/helm-operator-get-started/hack/Dockerfile.ci
  infra/helm-operator-get-started/hack/ci-mock.sh
  infra/helm-operator-get-started/namespaces/adm.yaml
  infra/helm-operator-get-started/namespaces/dev.yaml
  infra/helm-operator-get-started/namespaces/prod.yaml
  infra/helm-operator-get-started/namespaces/stg.yaml
  infra/helm-operator-get-started/releases/adm/sealed-secrets.yaml
  infra/helm-operator-get-started/releases/dev/podinfo.yaml
  infra/helm-operator-get-started/releases/prod/podinfo.yaml
  infra/helm-operator-get-started/releases/stg/podinfo.yaml
Due: none

Add k8s-ansible project to monorepo in infra dir
  infra/k8s-ansible/.gitignore
  infra/k8s-ansible/LICENSE
  infra/k8s-ansible/README.md
  infra/k8s-ansible/all-hosts
  infra/k8s-ansible/ansible.cfg
  infra/k8s-ansible/info.yaml
  infra/k8s-ansible/k8s.yaml
  infra/k8s-ansible/make-cluster.yaml
  infra/k8s-ansible/poweroff.yaml
  infra/k8s-ansible/reset.yaml
  infra/k8s-ansible/roles/make-primary/tasks/main.yaml
  infra/k8s-ansible/roles/make-secondary/tasks/main.yaml
  infra/k8s-ansible/roles/microk8s/tasks/main.yaml
  infra/k8s-ansible/roles/setup/tasks/main.yaml
  infra/k8s-ansible/roles/update/tasks/main.yaml
  infra/k8s-ansible/ssh_cert.yaml
Due: none

Start working on creating a helm chart and templates for messenger-server
  infra/flux-helm-operator/.gitignore
  infra/flux-helm-operator/LICENSE
  infra/flux-helm-operator/charts/messenger-server/.helmignore
  infra/flux-helm-operator/charts/messenger-server/Chart.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/deployment.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/ingress.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/service.yaml
  infra/flux-helm-operator/charts/messenger-server/values.yaml
  infra/flux-helm-operator/namespaces/prod.yaml
  infra/flux-helm-operator/releases/prod/messenger-server.yaml
Due: none

Add ingress without TLS support
  infra/flux-helm-operator/charts/messenger-server/templates/ingress.yaml
  infra/flux-helm-operator/charts/messenger-server/values.yaml
Due: none

WIP: Create helm chart (#9)
  infra/flux-helm-operator/.gitignore
  infra/flux-helm-operator/LICENSE
  infra/flux-helm-operator/charts/messenger-server/.helmignore
  infra/flux-helm-operator/charts/messenger-server/Chart.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/deployment.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/ingress.yaml
  infra/flux-helm-operator/charts/messenger-server/templates/service.yaml
  infra/flux-helm-operator/charts/messenger-server/values.yaml
  infra/flux-helm-operator/namespaces/prod.yaml
  infra/flux-helm-operator/releases/prod/messenger-server.yaml
Due: none

Add a script to install helm and flux
  infra/k8s-ansible/all-hosts
  infra/k8s-ansible/local.yaml
  infra/k8s-ansible/roles/flux/tasks/main.yaml
  infra/k8s-ansible/roles/helm/tasks/main.yaml
Due: none

Remove the unnecessary bits from the readme
  README.md
Due: none
